{% extends 'base.html' %}

{% block content %}
<div class="row">
    <form action="" method="post">
        {% csrf_token %}
        <p>Are you sure to delete "{{ object }}"?</p>
        <input type="submit" value="Confirm" />
    </form>
</div>>
{% endblock content %}
