{% extends "base.html" %}

{% block content %}
	<h1>{% if project %}Project - {{ project.name }}{% else %}Create a New Project{% endif %}</h1>

	<form action="" method="post">{% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Create/Update" />
	</form>

	<div style="margin-top:50px; width:40%" class="alert alert-success">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>Note:</strong> start and end date should be of format - YYYY-MM-DD.
	</div>
	
{% endblock %}
