{% extends "base.html" %}

{% block content %}
	<h1>{% if daily_sprint_time_span %}Daily Sprint - {{ daily_sprint_time_span.project.name }}{% else %}Create a Daily Sprint{% endif %}</h1>

	<form action="" method="post">{% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Create/Update" />
	</form>

	<div style="margin-top:50px; width:30%" class="alert alert-success">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>Note:</strong> started at and ended at should be of format -
		YYYY-MM-DD HH-MM (24hours format).
	</div>

{% endblock %}
