{% extends "base.html" %}

{% block content %}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Started At</th>
        <th>Ended At</th>
        <th>Total hours</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="{% url 'project_detail' project_time_spent.project.id %}">{{ project_time_spent.project.name }}</a></td>
        <td>{{ project_time_spent.started_at }}</td>
        <td>{{ project_time_spent.ended_at }}</td>
        <td>{{ project_time_spent.hours_spent }}</td>
        <td><a href="{% url 'project_time_spent_edit' project_time_spent.id %}">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock content %}
