{% extends "base.html" %}

{% block content %}
	<h1>{% if client %}Client - {{ client.name }}{% else %}Create a New Client{% endif %}</h1>

	<form action="" method="post">{% csrf_token %}
	    {{ form.as_p }}
	    <input type="submit" value="Create/Update" />
	</form>
	
	<div style="margin-top:50px; width:30%" class="alert alert-success">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>Note:</strong> Add company before creating client.
	</div>
{% endblock %}
