{% extends "base.html" %}

{% block content %}
<div>
  <h2>Clients</h2>
  <a href="{% url 'client_new'%}" class="btn btn-primary btn-md pull-right">Add New Client</a>

</div>
<div style="margin-top:100px;" class="table-responsive">
  {% if object_list %}
  <table class="table table-striped ">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Projects</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
    	{% for client in object_list %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'client_detail' client.id %}">{{ client.name }}</a></td>
        <td>{{ client.email }}</td>
        <td>{{ client.company.name }}</td>
        <td>
          <ol>
          {% for project in client.project_set.all %}
            <li><a href="{% url 'project_detail' project.id %}">{{ project.name }}</a></li>
          {% endfor %}
          </ol>
        </td>
        <td><a href="{% url 'client_edit' client.id %}">Edit</a></td>
        <td><a href="{% url 'client_delete' client.id %}">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p style="text-align: center;">No Clients Found</p>
  {% endif %}

</div>
{% endblock content %}
