<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"/>
    <style>
      .nav_active {
          color: red;
      }
    </style>

    <!--  Fonts and icons     -->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css">


  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Accounting</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...(Not implemented yet)">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-lg-2 left_menu">
          <ul class="nav nav-sidebar nav_active">
            <li><a href="{% url 'dashboard' %}">Overview</a></li>
            <li><a href="{% url 'client_list' %}">Clients</a></li>
            <li><a href="{% url 'company_list'%}">Company</a></li>
            <li><a href="{% url 'project_list'%}">Projects</a></li>
            <li><a href="{% url 'project_time_spent_list'%}">Project Time Spent</a></li>
            <li><a href="{% url 'reports' %}">Reports</a></li>
          </ul>
        </div>
        <div class="col-md-9 col-lg-8">

          {% block content %}

          {% endblock content %}

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{% static "js/tableExport.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.base64.js"%}"></script>

    <script type="text/javascript" src="{% static "js/html2canvas.js"%}"></script>

    <script type="text/javascript" src="{% static "js/jspdf/libs/sprintf.js"%}"></script>
    <script type="text/javascript" src="{% static "js/jspdf/jspdf.js"%}"></script>
    <script type="text/javascript" src="{% static "js/jspdf/libs/base64.js"%}"></script>


    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>



    <script type="text/javascript">
      var selector = 'nav_active';

      $(selector).on('click', function(){
          $(selector).removeClass('active');
          $(this).addClass('active');
      });
      function lefthgt(){
           var win_width = $(document).width();
           var win_hgt = $(document).height();

            if (win_width>990){
                $('.left_menu').height(win_hgt-90);

            }else{
                $('.left_menu').removeAttr('style');
                
            }
      }
      lefthgt();
      $(window).resize(function(){
        lefthgt();
      });
    </script>

    <script type="text/javascript">
        {% block script %}
        {% endblock script %}
      </script>
  </body>
</html>
